<a href="https://colab.research.google.com/github/emmyjonny/Centralized-repository-shipping_calculations/blob/main/Copy_of_AI_HW_2_Data_Preprocessing_and_Visualization_Starting_file_REV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 2: Data Preprocessing and Visualization with the Titanic Dataset

In [1]:
# Import necessary libraries
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from sklearn.datasets import fetch_openml

###2. Load the Titanic Dataset

The Titanic dataset is a well-known dataset that contains information about passengers on the Titanic, including whether they survived or not. Here are some common features found in the Titanic dataset:


1. **pclass:** Passenger Class - The class of the ticket the passenger purchased (1st, 2nd, or 3rd).
2. **name:** The name of the passenger.
3. **sex:** The gender of the passenger (male or female).
4. **age:** The age of the passenger. This feature may contain missing values.
5. **sibsp:** The number of siblings/spouses aboard the Titanic.
6. **parch:** The number of parents/children aboard the Titanic.
7. **ticket:** The ticket number.
8. **fare:** The amount of money the passenger paid for the ticket.
9. **cabin:** The cabin number where the passenger stayed. This feature may contain missing values.
10. **embarked:** The port where the passenger boarded the Titanic (C = Cherbourg, Q = Queenstown, S = Southampton).
10. **boat:** This column indicates the lifeboat number for those passengers that were able to board a lifeboat.
11. **body:** The body identification number assigned to individuals who did not survive the disaster.  THIS COLUMN SHOULD BE DROPPED FOR SURVIVAL PREDICTION SINCE IT WAS ASSIGNED AFTER THE DISASTER TO THE RECOVERED DEAD BODIES.
12. **home.dest:** The home destination of the passenger.

The target variable in the dataset is typically:
14. **survived:** Indicates whether the passenger survived (1) or not (0).

It's important to note that the dataset may contain missing values in certain features, and preprocessing steps such as imputation or removal of missing data may be necessary before analysis. Additionally, some features may need further transformation, such as converting categorical variables into numerical representations for machine learning models.

In [2]:
# Load the Titanic dataset from OpenML
titanic_data = fetch_openml(name='titanic', version=1, as_frame=True)

# Combine features and target into a DataFrame
df = pd.concat([titanic_data['data'], titanic_data['target']], axis=1)

### STUDENT START CODING BELOW HERE

### 3. EDA

In [9]:
#@title 3A

# Add your code below
df.head()

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,survived
0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO",1
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON",1
2,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",0
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON",0
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",0

In [10]:
#@title 3B

# Add your code below

In [11]:
#@title 3C - Missing Value Counts

# Add your code below

In [12]:
#@title 3D

# Add your code below

In [13]:
#@title 3E - Delete 'boat' and 'body'

# Add your code below

In [14]:
#@title 3F - Encoding

# Add your code below

###3G - Data Visualizations

In [ ]:
# Add your code for the Pair Plot below

In [ ]:
# Add your code for the QQplot below

### 4 - Data Preprocessing

In [ ]:
#@title 4A - Delete unhelpful features

# Add your code below

In [ ]:
#@title 4B - Handle missing values

# Add your code below

#### Regarding Imputation

The most successful way to handle missing values, including age in the Titanic dataset, depends on various factors, including the characteristics of the data and the goals of the analysis. Here are some common approaches that have been used:

1. **Mean/Median Imputation:** Replace missing values with the mean or median of the available values. Median imputation is less sensitive to outliers and skewed distributions than mean imputation.

   ```python
   median_age = df['age'].median()
   df['age'].fillna(median_age, inplace=True)
   ```

2. **Machine Learning-based Imputation:** Use advanced imputation techniques, such as regression models or machine learning algorithms, to predict missing values based on other features. This approach takes into account relationships between variables.

3. **Group-wise Imputation:** Impute missing values based on specific groups or categories in the data. For example, impute ages based on the median age within different passenger classes or embarkation ports.

4. **Random Imputation:** Generate random values based on the distribution of the available data. This method introduces some variability and can be suitable when the distribution is not strongly skewed.

5. **Multiple Imputation:** Generate multiple imputations and analyze the data multiple times to account for uncertainty in the imputed values. This is particularly useful in statistical analyses.

It's important to note that there is no one-size-fits-all solution, and the choice of method depends on the specific characteristics of the data and the goals of the analysis. Additionally, always be aware of potential biases introduced by imputation and consider validating the chosen method.

In practice, the choice of imputation method may depend on the nature of the dataset and the analysis goals. Researchers and analysts often assess the impact of different imputation strategies on their specific analyses and choose the method that provides the most reasonable and unbiased results for their particular context.

### 5. Feature Engineering

In [ ]:
#@title 5A - Create at least one engineered feature

# Add your code below

### 5B

Explain your reasoning here.

### 6. Data Visualization of Survival by Feature - 6A-6C

In [ ]:

# Add your code for your visualizations below.  You might want to create extra code cells.

### 7. Report

Write your report in this space.